@model Survey

<!DOCTYPE html>
<html>
<head>
    <title>Resultados Encuesta</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <h1>Resultados de la Encuesta</h1>
    <div class="container">
        @if (Model != null)
        {
            <p>Nombre: @Model.Nombre</p>
            <p>Localización: @Model.Localizacion</p>
            <p>Lenguaje Favorito: @Model.Lenguaje</p>
            <p>Comentario: @Model.Comentario</p>
            <!-- Campo para la fecha DateInFuture -->
            <p>Fecha en el Futuro: @Model.DateInFuture</p>
        }
        else
        {
            <p>El modelo es nulo</p>
        }
        <form method="get" asp-controller="Principal" asp-action="NewIndex">
            <button type="submit">Go Back</button>
        </form>
    </div>
</body>
</html>
